<div id="allbody" class="container-fluid d-flex align-items-center justify-content-center vh-100 bg-light">
  <div class="row justify-content-center">
      <ng-container *ngFor="let onBoardingPhrase of ShowPhrases; let index = index">
          <ng-container *ngIf="index === actualStep">
              <div class="col-12 col-sm-4 m-2">
                  <div class="card shadow" style="width: 20rem; height: 650px; position: relative;">
                      <div [style.backgroundColor]="onBoardingPhrase.bgcolor" class="pt-5 rounded-top">
                          <img [src]="'assets/' + onBoardingPhrase.img" alt="{{onBoardingPhrase.title}}" class="card-img-top img-fluid">
                      </div>
                      <div class="container bg-white p-3">
                          <div class="card-body">
                              <h3 class="card-title">{{ onBoardingPhrase.title }}</h3>
                              <p class="card-text text-secondary">{{ onBoardingPhrase.description }}</p>
                          </div>
                          <div class="d-flex justify-content-between align-items-end custom-buttons-container" style="position: absolute; bottom: 0; width: 100%;">
                              <div class="guion-buttons p-4">
                                  <button *ngFor="let phrase of ShowPhrases; let i = index" class="btn btn-outline-white fs-1 p-0 guion-individual px-3">
                                      <i *ngIf="i === actualStep" class="fa-solid fa-minus"></i>
                                      <i *ngIf="i !== actualStep" class="fa-solid fa-circle fa-2xs"></i>
                                  </button>
                              </div>
                              <div class="arrow-buttons p-4">
                                  <button *ngIf="actualStep > 0" (click)="lastStep()" class="btn btn-outline-dark btn-arrow ps-3" id="btn-back"></button>
                                  <button *ngIf="actualStep < 2" (click)="nextStep()" class="btn btn-dark btn-arrow" id="btn-advance"></button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </ng-container>
      </ng-container>
  </div>
</div>



